body{
    background: hsla(205,46%,30%,1) !important;
    background: linear-gradient(90deg, hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%) !important;
    margin: 0;
    padding: 0;
}
.title{
    color: #fff;
    font-size: 45px;
    padding-bottom: 25px
}

.card{
    margin-top: 4rem;
    border: none;
    width: 800px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    font-size: 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    
}
.container{
    margin-top:50% ;
    margin-left: 30%;
    
}
.card label h1{
    color: #fff;

}
label{
    color: #fff;
}
.input-with-icon {
    position: relative;
    
  }
.eye-icon{
    position: absolute;
    bottom: 0;
  right: 5%;
  transform: translateY(0,-50%);
    cursor: pointer;
    color: rgb(75, 75, 75);
  
}


.form-control{
    height: 3rem;
}
.btn{
    width: 10rem;
    height: 3rem;
    margin-top: 25px;
}
.text-danger{
    position: absolute;
    margin-top: 2px;
    margin-bottom: 2px;
}
.check{
    margin-left: 2rem;
    margin-top: 2rem;
    width: 20px;
    height: 20px;
}

